javascript:var%20t=document.getElementsByTagName("table");for(var%20i=0;i<4;i++){t[i].setAttribute("width","100%");}var%20ifr=document.getElementsByTagName("iframe");ifr[0].setAttribute("style","width:%20100%;%20height:%20620px;");var%20w=document.getElementById("frameFBS");var%20d2=w.contentDocument;d2.getElementById("frameCalendar").setAttribute("style","width:%20100%;%20height:%20590px;");